/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Reset All Margin & padding and add box sizing style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Global variable declare */
:root {
  --primary-clor: #e02c6d;
  --text-color: #3a3a3a;
  --color-wh: #ffff;
  --heading-color-v1: #3a3a3a;
  --heading-color-v2: #18191f;
  --light-black: #787885;
  --hover-color: #ee447f;
  --star-color: #fb8200;
}

/* Reusable Styles*/
.width-v1 {
  max-width: 1300px;
  margin: 0 auto;
}
.width-v2 {
  max-width: 1200px;
  margin: 0 auto;
}
.sec-gap-top {
  margin-top: 100px;
}
.sec-gap {
  margin-bottom: 100px;
}
p {
  font-size: 16px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  margin-top: 20px;
  padding: 10px 24px;
  background-color: var(--primary-clor);
  color: var(--color-wh);
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.btn i {
  margin-left: 10px;
}

.btn:hover {
  background-color: var(--hover-color);
}

/* Mobile Menu  */
.mobile-menu {
  display: none;
}

/* Nav Area */
.nav-area nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo h3 {
}
.logo a {
  text-decoration: none;
  font-size: 24px;
  color: var(--text-color);
}
.logo a span {
  color: var(--primary-clor);
}

.menu ul {
  display: flex;
}
.menu ul li {
  list-style: none;
  padding: 0 28px;
}
.menu ul li:last-child {
  padding-right: 0;
}

.menu ul li a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}
.menu ul li a:hover {
  color: var(--primary-clor);
}

/* Hero area */
.hero-area {
}
.hero-area .area-left {
  width: 60%;
}
.hero-area .area-left h2 {
  font-size: 52px;
  color: var(--heading-color-v1);
}
.hero-area .area-left p {
  color: var(--text-color);
}
.hero-area .area-right {
  background: url(/images/circle-design.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 40%;
}

/* Brand Area */
.logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 35px 0px;
}

/* Prodcut area */
.product-section .product-sec-title {
  text-align: center;
  font-size: 32px;
  color: var(--heading-color-v1);
  margin-bottom: 30px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.products .single-product {
  padding: 17px 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.single-product .product-img img {
  width: 100%;
}

.product-info .product-title {
  font-weight: 500;
  color: var(--heading-color-v2);
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
}
.product-info .product-price {
  font-size: 24px;
  font-weight: 400;
}

.product-info .product-rating i {
  color: var(--star-color);
  font-size: 16px;
}
.product-info .prodcut-description {
  color: var(--light-black);
  font-size: 16px;
}

.product-section .pr-btn {
  float: right;
  margin-top: 30px;
}
.product-section .pr-btn a {
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-clor);
  font-weight: 700;
}
.product-section .pr-btn a:hover {
  color: var(--hover-color);
}
